In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [4]:
"""
Your Code Here
"""
sub_train_one_hot = pd.get_dummies(sub_train)
print(sub_train_one_hot.shape)
sub_train_one_hot.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

In [5]:
# 差異比較
print("Number of columns berfore transformation: %d" %(sub_train.shape[1]))
print("Number of columns after transformation: %d" %(sub_train_one_hot.shape[1]))

comp_str = str(sub_train.columns[0])
diff_name = sub_train_one_hot.columns[0].split(comp_str)
print("Different of 1st column name: %s" %(diff_name[1]))

Number of columns berfore transformation: 1
Number of columns after transformation: 7
Different of 1st column name: _FRIDAY

所以使用 One Hot encoding 方法，會將欄位中的元素加到表頭欄位中，增加的個數視有幾種不同欄位而增加；
並且增加的欄位名稱均為原本的表頭欄位名稱 + "_(欄位名稱)"